---
import { type Raw } from "@/types/projects"
import TechnologyContainer from "../container/TechnologyContainer.astro"
import Tooltip from "../text/Tooltip.astro"

interface Props {
    title: string,
    technologies: Array<Raw>
}

const { title, technologies } = Astro.props
---

<div class="flex p-3 w-72 h-48 flex-col border-4 border-purple-700 rounded-2xl">
    <h3 class="font-bold text-xl mb-1">{title}</h3>
    <div class="grid grid-cols-5 space-y-1 gap-0 items-center">
        {technologies.map(technologies => (
            <div class="relative group">
                    <technologies.logo width="2.2em" height="2.2em"/>
                    <Tooltip>{technologies.name}</Tooltip>
                </div>
        ))}
    </div>
</div>