<nav class="flex justify-between items-center text-white text-lg  py-5 px-8">
    <div>
        <ul class="flex space-x-8">
            <li><a aria-label="Go to Home" href="#home">Home</a></li>
            <li><a aria-label="Go to Projects" href="#">Projects</a></li>
            <li><a aria-label="Go to Skills" href="#">Skills</a></li>
            <li><a aria-label="Go to Contact me" href="#">Contact Me</a></li>
        </ul>
    </div>
</nav>