---
import NavbarLink from "./NavbarLink.astro";
---

<nav class="flex fixed top-0 left-0 right-0 justify-between items-center text-white text-lg  py-5 px-32">
    <div>
        <ul class="flex space-x-8">
            <NavbarLink ariaLabel="Go to Home" href="#home">Home</NavbarLink>
            <NavbarLink ariaLabel="Go to Projects" href="#projects">Projects</NavbarLink>
            <NavbarLink ariaLabel="Go to Skills" href="#skills">Skills</NavbarLink>
            <NavbarLink ariaLabel="Go to Contact me" href="#">Contact Me</NavbarLink>
        </ul>
    </div>
</nav>