---
import { type Projects, TECHNOLOGIES  } from "@/types/projects"
import Project from "./container/ProjectContainer.astro"
import Subtitle from "./text/Subtitle.astro"


const projects: Projects[] = [
    {
        name: "UHCHealhDark",
        description: "This is a project with various technologies for a minecraft server for modality UHC ",
        image: "https://pbs.twimg.com/profile_images/1804530783807246336/RmuVmBJw_400x400.jpg",
        repository: "https://github.com/orgs/UHCHealthDark/repositories",
        technologies: [TECHNOLOGIES.REDIS, TECHNOLOGIES.JAVA, TECHNOLOGIES.MONGO_DB, TECHNOLOGIES.TYPESCRIPT]
    }
]
---

<div id="projects">
    <Subtitle>Projects</Subtitle>
    <div>
        {projects.map((project) => <Project {...project} />)}
    </div>
</div>